.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;

  background-color: var(--color-bg);
  border-bottom: 1px solid var(--color-border);

  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.header__content {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.header__logo {
  height: 36px;
  transition: opacity 0.3s ease;
}

/* Ações */
.header__actions {
  display: flex;
  align-items: center;
  gap: 1.5rem;

}

/* Navegação */
.header__nav {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.header__nav a {
  text-decoration: none;
  color: var(--color-text);
  font-weight: var(--font-weight-medium);
  transition: color 0.2s ease;
}

.header__nav a:hover {
  color: var(--color-primary);
}

/* ===== Theme Toggle ===== */

.theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
  padding: 0;
}

.toggle-track {
  width: 46px;
  height: 26px;
  background-color: var(--color-bg-soft);
  border-radius: 999px;
  position: relative;
  transition: background-color 0.3s ease;
}

.toggle-thumb {
  width: 20px;
  height: 20px;
  background-color: var(--color-bg-soft);
  border-radius: 50%;
  top: 3px;
  left: 3px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 2rem;
  line-height: 1;

  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Dark ativo */
.theme-toggle.dark .toggle-track {
  background-color: var(--color-primary);
}

.theme-toggle.dark .toggle-thumb {
  transform: translateX(20px);
  background-color: var(--color-bg);
}

/* ===== Mobile ===== */
@media (max-width: 768px) {
  .header__nav {
    display: none;
  }
}
